:root {
    --bg-main: #0f172a;
    --sidebar-bg: #151C2C;
    --sidebar-hover: #334155;
    --accent-red: #EF4444;
    --card-bg: #1e293b;
    --text-dark: #f8fafc;
    --text-muted: #94a3b8;
    --border-color: rgba(255, 255, 255, 0.08);
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main) !important;
    color: var(--text-dark) !important;
    font-size: 14.5px;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
}